In [1]:
import os
import sys
sys.path.append(os.path.dirname('../src/'))
from utils import load_data
from data_exploration import display_text_size, display_target_values, vocab_analysis, n_gram_analysis, get_word_cloud, explore_sentiment, display_correlation_matrix

In [2]:
df = load_data('../datasets/raw/imdb.csv')

In [3]:
df.head()

                                             comment     label
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
print(df.shape)
rows = df.shape[0]

(50000, 2)

In [5]:
df.describe()

                                                  comment     label
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  50000 non-null  object
 1   label    50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [7]:
# Exploring Labels
values = df.label.value_counts()
print(values)

label
positive    25000
negative    25000
Name: count, dtype: int64

In [8]:
# Vocabulary Analysis
all_tokens = vocab_analysis(df, 'comment')

[nltk_data] Downloading package stopwords to /home/sadegh/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
# Add a column for text length
df['text_length'] = df['comment'].apply(len)
# Summary statistics of text length
print(df['text_length'].describe())

display_text_size(df)

In [ ]:
# N-gram analysis
n_gram_analysis(df, 'comment')

In [ ]:
# word cloud analysis
get_word_cloud(all_tokens)

In [ ]:
# Exploring Sentiment
explore_sentiment(df, 'comment')